<div class="album py-5 bg-light">
  <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% @books.each do |book| %>
        <div class="col">
            <div class="card shadow-sm">
              <center>
                  <%= image_tag book.image_url, size: "220x300"%>
              </center>
              <div class="card-body">
                  <b><p class="card-text" stylesheet='text-align: center'><%= book.title %></p></b>
                  <p class="card-text" stylesheet='text-align: center;'>Autor: <%= book.author %></p><br/>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <%= link_to 'Ver detalhes', book_path(book), class: 'btn btn-sm btn-outline-secondary' %>
                        <% if current_admin %>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Excluir</button>
                        <% end %>
                    </div>
                  </div>
              </div>
            </div>
        </div>
        <% end %>
      </div>
  </div>
</div>